<header>
    <link rel="stylesheet" type="text/css" href="/css/template.css">
</header>

<div class="template">
    <div class="design-top">
        <div id="t1" class="triangle">
        </div>
        <div id="c1" class="circle">
        </div>
    </div>

    <div class="design-bottom">
        <div id="c2" class="circle">
        </div>
        <div id="t2" class="triangle">
        </div>
    </div>
</div>