<head>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<div class="page">
    <div class="image">
        <img class="imagebg" src="/assets/lab.jpg">
        <span class="webname">WebsiteName</span>
        <button class="book"><a class="bookbtn" href="/reserve-labs">Book a Lab</a></button>
    </div>

    <div class="info">
        <div class="text">
            <span class="t1">What is <br>WebsiteName?<br></span>
            <span class="t2">Website Name is a reservation system for 
                students to easily reserve time slots in the laboratories 
                of De La Salle University. 
                Since many students use the lab daily, 
                this website is able to keep track of each student that 
                reserves a slot using the accounts created in this website. 
                Students are able to easily filter out the available time slots
                and make use of the various reservation options provided by 
                WebsiteName services.</span>
        </div>
        
        <img class="sample" src="../assets/pic1.jpg">
    </div>
</div>