<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<div class="page">
    <nav class="navbar"></nav>
    <h1 class="title" style="color: white">Lab reservation service</h1>
    <div class="loginContainer">
        <form id="loginForm">
            <span class="label">Email</span><br>
            <input type="email" class="form" name="email" required><br>
            <span class="label">Password</span><br>
            <input type="password" class="form" name="pass" required><br>
            <input type="submit" class="form" name="login" value="Login">
        </form>
    </div>

    <div class="registerContainer">
        <a href="/register">Not yet registered?</a>
    </div>
</div>
<script src="/js/LoginPage.js"></script>