<head>
    <link rel="stylesheet" href="/css/Registercss.css">
</head>
<div class="registerContainer">
    <form id="registerForm">
        <span class="label">Email</span><br>
        <input type="email" class="form" id="email" name="email" required><br>
        <span class="label">Username</span><br>
        <input type="text" class="form" id="uname" name="uname" required><br>

        <span class="label">First Name</span><br>
        <input type="text" class="form" id="firstname" name="firstname" required><br>
        <span class="label">Last Name</span><br>
        <input type="text" class="form" id="lastname" name="lastname" required><br>

        <span class="label">Password</span><br>
        <input type="password" class="form" id="pass" name="pass" required><br>
        <span class="label">Confirm Password</span><br>
        <input type="password" class="form" id="confirmPass" name="confirmPass" required><br>
        <button id="submit" class="form" name="register" value="Register">Register</button>
    </form>
</div>

<div class="loginContainer">
    <a href="/login">Already Registered?</a>
</div>
<script src="/js/RegisterPage.js"></script>