<header>
    <link rel="stylesheet" type="text/css" href="/css/removemenu.css">
</header>

<div class="page">
    <div class="page_content">
        <div class="container">
            <h1>Remove Student Reservation</h1>
            <p>Students who do not show up within 10 minutes of the reservation may lose their slots. This facility is only available 10 minutes from the actual reservation time. This will cancel the whole reservation.</p>
            
            <a href="/remove-reservation">
                <button class="btn">Remove a Reservation</button>
            </a>

        </div>
    </div>
</div>
<script src="/js/reservefor.js"></script>