<header>
    <link rel="stylesheet" type="text/css" href="/css/removeRes.css">
</header>

<div class="page" id="removeRes">
    <h1 class="title">Reservations</h1>
    <div class="viewContainer">
    </div>
</div>
<script src="/js/removeRes.js"></script>