
<header>
    <link rel="stylesheet" type="text/css" href="/css/search_user.css">
</header>

<div class="page">
    <div class="content">
        <div class="search_container">
            <div id="header" class="container">
                <span class="head_txt">SEARCH USER</span>
            </div>

            <div id="search_box" class="container">
                <div class="input">
                    <span class="label">Enter Username:</span>
                    <input id="search" class="search" type="text">
                </div>
            </div>

            <div id="results_box" class="container">
                <table id="results-table" class="table">
                    <tr>
                        <th class="username">Username</th>
                        <th class="firstname">First Name</th>
                        <th class="lastname">Last Name</th>
                        <th class="email">Email</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/search_slots.js"></script>