@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Palanquin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*{
    margin-top: 0;
    margin-left: 0;
    padding: 0;
}

:root{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}

.webname{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 70px;
}

.navbar{
    position: fixed;
    background: #1A1A1A;
    width: 100%;
}

.navdiv{
    display: flex;
    align-items: center;
    background-color: #1A1A1A;
    justify-content: space-between;
    height: 60px;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Palanquin', sans-serif;
    color: white;
    margin-left: 25px;
}

li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18px;
    margin-right: 48px;
}

li a:hover{
    color: rgb(174, 174, 174);
}

.v{
    font-size: 13px;
}

.navtext{
    display: flex;
    align-items: center;
    margin: 0;
}

ul{
    margin: 0;
}

.nav{
    position: sticky;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color:  #1A1A1A;
    opacity: 80%;
    width: 120px;
    height: 108px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

button{
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {z-index: 3; display: block;}

.dropdown-content > a{
    font-size: 16px;
    margin-right: 0;
}

#profile{
    height: auto;
    margin-left: -30px;
}

#short_drop{
    height: auto;
    margin-left: -15px;
}


/* width */
::-webkit-scrollbar {
    width: 2px;
    opacity: 50%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}